export(deIso)
export(loadIso2)
export(plotIso)
export(plotTop)
export(makeCounts)
exportClasses(IsomirDataSeq)
import(DESeq2)
import(RColorBrewer)
import(data.table)
import(ggplot2)
import(gplots)
import(DiscriMiner)
import(lattice)
